<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div >
            <h2 class="text-center">Manager: Movies Not Returned by Customers</h2>
            <div class=" container">
            <form  method ="post" class="form-inline ">
               
                <div class="form-group mx-sm-3 mb-2">
                  <label for="username" class="sr-only">Username</label>
                  <input name="username" type="text" class="form-control" id="username" placeholder="Enter Username">
                </div>
                <div class="form-group mx-sm-3" >
                    <label for="password" class="sr-only">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Enter Password">
                  </div>
                <button type="submit" class="btn btn-dark mb-2">Submit</button>
              </form>
               <p  class="bg-danger text-white p-3">  <%=  locals.message %></p> 
            
            
              <% if (locals.lateRental) { %> 

                <table class="table table-dark table-striped ">
                <thead>
                    <tr>
                        <th colspan="2"> Manager Name: <%=locals.lateRental[0].manager%></th>
                        <th colspan="2"> Store: <%=locals.lateRental[0].store_id%> (  
                            <%=locals.lateRental[0].city%> ) 
                        </th>
                       
                    </tr>
                    <tr>
                        <th scope ="col">#</th>
                        <th scope ="col">Movie</th>
                        <th scope ="col">Customer</th>
                        <th scope ="col">Email</th>
                    </tr>
                </thead>
             <tbody>
                <% locals.lateRental.forEach((rentals, index) => { %>
                    <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= rentals.movie %></td>
                    <td><%= rentals.customer%></td>
                    <td><%= rentals.email%></td>
                    </tr>
                    <% }); %>

             </tbody>
            
              </table>
            </div>
              <% } %>

          
        </div>
        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/script.ejs') %> 
        
    </body>
  
</html>